<!DOCTYPE html>
<html>

<head>
	<title>A-Frame: Link component</title>
	<meta name="description" content="A-Frame Examples">
	<script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
	<script src="../js/aframe-environment-component.min.js"></script>
	<script src="../js/link-controls.js"></script>
</head>

<body>

<!-- cursor activated from mouse position; only intersects objects with "link" component added (the <a-link> tag) -->
<!-- environments featured: default, forest, egypt, goldmine, arches, japan, volcano -->
<img id="Egypt_sky" src="/static/admin/assets/new_egypt_skyline.png">

  <a-sky scale = "0.01 0.01" src="#Egypt_sky"></a-sky>

<a-scene  cursor="rayOrigin: mouse;" raycaster="far: 100">
	  
	<a-assets>
        <img id="previewDefault"  src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fsky.jpeg?v=1618522282843">
        
	</a-assets>

<!-- note: raycast issue (link still active) after walking through portal -->

<a-sphere id="origin" radius="0.25" position="0 0 0" color="white"></a-sphere>

<a-entity enviroment="preset: egypt"></a-entity>


</a-scene>

</body>
</html>