<!DOCTYPE html>
<html>

<head>
	<title>A-Frame: Link component</title>
	<meta name="description" content="A-Frame Examples">
	<script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
	<script src="../js/aframe-environment-component.min.js"></script>
	<script src="../js/link-controls.js"></script>
  <script src="../js/aframe-super-keyboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>

  </head>

<body>

<!-- cursor activated from mouse position; only intersects objects with "link" component added (the <a-link> tag) -->
<!-- environments featured: default, forest, egypt, goldmine, arches, japan, volcano -->
<img id="Forest_sky" src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fforest.png?v=1618262455139">
<a-sky src="#Forest_sky"></a-sky>
<a-scene  cursor="rayOrigin: mouse;" raycaster="far: 100; objects: [link];">
	<a-assets>
        <img id="previewDefault"  src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fsky.jpeg?v=1618522282843">
        <img id="previewVolcano"  src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fvolcano.png?v=1618262471566">
        <img id="previewEgypt"    src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fegypt.png?v=1618262219235">
        <img id="previewForest"   src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fforest.png?v=1618262455139">
        <img id="previewJapan"    src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fjapan.png?v=1619470264693g">
	</a-assets>

  
  
<!-- note: raycast issue (link still active) after walking through portal -->


<a-sphere id="origin" radius="0.25" position="0 0 0" color="white"></a-sphere>

<a-link	position="-4 1.6 -4" rotation="0 40 0"
	href="volcano.html" title="Volcano" image="#previewVolcano"></a-link>

<a-link position="-2 1.6 -5" rotation="0 20 0"
	href="egypt.html" title="Egypt" image="#previewEgypt"></a-link>

<a-link position="0 1.6 -6" 
	href="japan.html" title="Japan" image="#previewJapan"></a-link>


<a-link position="2 1.6 -5" rotation="0 -40 0"
	href="default.html" title="Default" image="#previewDefault"></a-link>


  </a-scene>


    

<script>

AFRAME.registerComponent('keyboard-functions', {
	
	init: function()
	{
		// for referencing issues
		let self = this;

		// set up event listeners

		// input event triggered when user presses enter
		this.el.addEventListener('superkeyboardinput', function(event)
		{
			let text = event.detail.value;
			
			// text also accessible via: self.el.getAttribute("super-keyboard")["value"]
			
			console.log("Input: " + text);
			
			// clear the input bar (since keyboard is not disappearing)
			self.el.setAttribute( "super-keyboard", "value", "" );

			// change the color of the sphere
			document.getElementById("sphere").setAttribute("color", text);
		});

		// dismiss event triggered when user closes keyboard
		this.el.addEventListener('superkeyboarddismiss', function(event)
		{
			// repurpose close functionality to clear all input text without submitting
			console.log("Input cleared.");
			self.el.setAttribute( "super-keyboard", "value", "" );
		});
	},
	
	tick: function (time, timeDelta) 
	{
		// force keyboard to remain visible even after input or dismiss events triggered
		if ( !this.el.object3D.visible )
			this.el.object3D.visible = true;
	}
	
});

</script>

<!-- https://github.com/supermedium/aframe-environment-component -->
<a-scen

	<a-entity  id="mouseCursor" cursor="rayOrigin: mouse" ></a-entity>

    <a-entity id="hand" laser-controls="hand: right">
    	
    </a-entity>

    <!-- 
    	Documentation at https://github.com/supermedium/aframe-super-keyboard
    	Changeto "hand: #hand;" for VR. 
		imagePath: directory that contains image sk-basic.png
		multipleInputs: show keyboard stay open after input is entered? (default: false)
    -->

    <a-entity id="keyboard" super-keyboard="hand: #mouseCursor;" src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fsk-basic.png?v=1620682425518"  keyboard-functions
    position="0 1.25 -0.5" rotation="-30 0 0"></a-entity>

    <a-sphere id="sphere" radius="2" position="0 2 -8" color="gray"></a-sphere>

</a-scene>

  </body>
</html>