<!DOCTYPE html>
<html>

<head>
	<title>A-Frame: Link component</title>
	<meta name="description" content="A-Frame Examples">
	<script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
	<script src="../js/aframe-environment-component.min.js"></script>
	<script src="../js/link-controls.js"></script>
  </head>

             
<body>
  <!-- cursor activated from mouse position; only intersects objects with "link" component added (the <a-link> tag) -->
<!-- environments featured: default, forest, egypt, goldmine, arches, japan, volcano -->
<img id="Japan_sky" src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fjapan.png?v=1619470264693">

  <a-sky src="#Japan_sky"></a-sky>

  <a-scene  cursor="rayOrigin: mouse;" raycaster="far: 100; objects: [link];">  
	<a-assets>
        <img id="previewDefault"  src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fsky.jpeg?v=1618522282843">
        <img id="previewVolcano"  src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fvolcano.png?v=1618262471566">
        <img id="previewEgypt"    src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fegypt.png?v=1618262219235">
        <img id="previewForest"   src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fforest.png?v=1618262455139">
        <img id="previewJapan"    src="https://cdn.glitch.com/487be84f-e867-4b44-b13a-b5ffe8b37023%2Fjapan.png?v=1619470264693">
	</a-assets>

<!-- note: raycast issue (link still active) after walking through portal -->

<a-sphere id="origin" radius="0.25" position="0 0 0" color="white"></a-sphere>

<a-link	position="-4 1.6 -4" rotation="0 40 0"
	href="volcano.html" title="Volcano" image="#previewVolcano"></a-link>

<a-link position="-2 1.6 -5" rotation="0 20 0"
	href="egypt.html" title="Egypt" image="#previewEgypt"></a-link>

<a-link position="0 1.6 -6" 
	href="forest.html" title="Forest" image="#previewForest"></a-link>


<a-link position="2 1.6 -5" rotation="0 -40 0"
	href="default.html" title="Default" image="#previewDefault"></a-link>

</a-scene>


</body>
</html>